{{include "../common/head.html"}}

<link rel="stylesheet" href="../../public/css/libary.css">



<!-- S === 产品中心内容 === S -->
<content>

    <div class="libary gn_box">
        <!-- S === 产品索引 === S -->
        <div class="pro_index">
            <h1>
                <em>☞</em>
                <span>点击下面关键词，可快速查找！</span>
            </h1>
            <div class="index_list">
                <!-- 产品类型 -->
                <div class="pro_type tabs_common">
                    <div class="tab_title"><strong>产品种类：</strong></div>
                    <div class="tab_body">
                        <ul class="tab_list">
                            <li><a href="#" class="label">总类名称A</a></li>
                            <li><a href="#" class="label">总类名称B</a></li>
                            <li><a href="#" class="label">总类名称C</a></li>
                            <li><a href="#" class="label">总类名称D</a></li>
                        </ul>
                    </div>
                </div>

                <!-- 产品促销活动 -->
                <div class="pro_activity tabs_common">
                    <div class="tab_title"><strong>促销活动：</strong></div>
                    <div class="tab_body">
                        <ul class="tab_list">
                            <li><a href="#" class="label">此处填写活动的名称1</a></li>
                            <li><a href="#" class="label">此处填写活动的名称2</a></li>
                        </ul>
                    </div>
                </div>

                <!-- 产品首字母 -->
                <div class="pro_pinyin tabs_common">
                    <div class="tab_title"><strong>首 字 母：</strong></div>
                    <div class="tab_body">
                        <ul class="tab_list">
                            <li><a href="#" class="label">无</a></li>
                            <li><a href="#" class="label">0</a></li>
                            <li><a href="#" class="label">1</a></li>
                            <li><a href="#" class="label">2</a></li>
                            <li><a href="#" class="label">3</a></li>
                            <li><a href="#" class="label">4</a></li>
                            <li><a href="#" class="label">5</a></li>
                            <li><a href="#" class="label">6</a></li>
                            <li><a href="#" class="label">7</a></li>
                            <li><a href="#" class="label">8</a></li>
                            <li><a href="#" class="label">9</a></li>
                            <li><a href="#" class="label">A</a></li>
                            <li><a href="#" class="label">B</a></li>
                            <li><a href="#" class="label">C</a></li>
                            <li><a href="#" class="label">D</a></li>
                            <li><a href="#" class="label">E</a></li>
                            <li><a href="#" class="label">F</a></li>
                            <li><a href="#" class="label">G</a></li>
                            <li><a href="#" class="label">H</a></li>
                            <li><a href="#" class="label">I</a></li>
                            <li><a href="#" class="label">J</a></li>
                            <li><a href="#" class="label">K</a></li>
                            <li><a href="#" class="label">L</a></li>
                            <li><a href="#" class="label">M</a></li>
                            <li><a href="#" class="label">N</a></li>
                            <li><a href="#" class="label">O</a></li>
                            <li><a href="#" class="label">P</a></li>
                            <li><a href="#" class="label">Q</a></li>
                            <li><a href="#" class="label">R</a></li>
                            <li><a href="#" class="label">S</a></li>
                            <li><a href="#" class="label">T</a></li>
                            <li><a href="#" class="label">U</a></li>
                            <li><a href="#" class="label">V</a></li>
                            <li><a href="#" class="label">W</a></li>
                            <li><a href="#" class="label">X</a></li>
                            <li><a href="#" class="label">Y</a></li>
                            <li><a href="#" class="label">Z</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- E === 产品索引 === E -->

        <!-- S === 产品列表 === S -->
        <div class="pro_list">

        </div>
        <!-- E === 产品列表 === E -->

        <!-- S === 产品列表 - 分页器 === S -->
        <div class="pro_paging"></div>
        <!-- E === 产品列表 - 分页器 === E -->
    </div>

</content>
<!-- E === 产品中心内容 === E -->



<script src="../../public/js/libary.js"></script>

{{include "../common/foot.html"}}