<!-- S === 加载通用页面_隐藏页面 === S -->
{{include "../user/user.html"}}
<!-- E === 加载通用页面_隐藏页面 === E -->



<!-- S === Footer Start === S -->
<footer>
    <div class="gn_box">

        <!-- S === 公司信息 === S -->
        <div class="fl company_info">
            <p class="company_telphone"><span>电话：0571-86027729</span></p>

            <p class="company_telphone"><span>邮箱：supports@ctcc.org</span></p>

            <p class="company_address"><span>地址：浙江省磐安县新渥街道药城路88号30幢2楼</span></p>

            <p class="company_copyright1"><span>Hangzhou Meisen Cell Biotechnology Co., Ltd</span> </p>

            <p class="company_copyright2"><span>Copyright © 2020-2021 浙江美森细胞科技有限公司 版权所有</span></p>

            <p class="site_beian">
                <a target="_blank" href="https://beian.miit.gov.cn">
                    <img src="../public/image/btn/beian_gj.png" alt="浙江美森细胞科技有限公司">
                    <span>浙ICP备20012958号-1</span>
                </a>
            </p>

            <p class="links_friendly">
                <span>友情链接：</span>
                <a target="_blank" href="https://procell.biomart.cn/">丁香通</a>
                <span>&nbsp;|&nbsp;</span>
                <a target="_blank" href="http://www.bioon.com.cn/show/index.asp?id=272795">生物在线</a>
            </p>

            <p class="links_res">
                <span>资源链接：</span>
                <a target="_blank"
                    href="https://www.atcc.org/en/Products/Cells_and_Microorganisms/Cell_Lines.aspx">ATCC</a>
                <span>&nbsp;|&nbsp;</span>
                <a target="_blank" href="https://www.dsmz.de/">DSMZ</a>
                <span>&nbsp;|&nbsp;</span>
                <a target="_blank" href="https://www.phe-culturecollections.org.uk/collections/ecacc.jsp">ECACC</a>
                <span>&nbsp;|&nbsp;</span>
                <a target="_blank" href="https://web.expasy.org/cellosaurus/">Cellosaurus</a>
                <span>&nbsp;|&nbsp;</span>
                <a target="_blank" href="http://cellbank.nibiohn.go.jp/cellsearch/">JCRB</a>
                <span>&nbsp;|&nbsp;</span>
                <a target="_blank" href="http://cellbank.snu.ac.kr/main/index.html">KCLB</a>
                <span>&nbsp;|&nbsp;</span>
                <a target="_blank" href="http://www2.brc.riken.jp/lab/cell/s2_list.cgi?key=n">RIKEN</a>
                <span>&nbsp;|&nbsp;</span>
                <a target="_blank" href="http://www.cctcc.org/">中国典型培养物保藏中心</a>
                <span>&nbsp;|&nbsp;</span>
                <a target="_blank" href="http://www.cellresource.cn/str/default.aspx">中国国家实验细胞咨询共享平台</a>
            </p>
        </div>
        <!-- E === 公司信息 === E -->

        <!-- S === 二维码矩阵 === S -->
        <div class="fr erweima">
            <div class="fr qrcode">
                <img src="../../public/image/logo/ctcc-wechat.jpeg" alt="浙江美森细胞科技有限公司 - 微信公众号">
                <p>关注微信公众号</p>
            </div>
            <div class="fr qrcode">
                <img src="../../public/image/logo/ctcc-wechat.jpeg" alt="浙江美森细胞科技有限公司 - 微信公众号">
                <p>关注微信公众号</p>
            </div>
            <div class="clear"> </div>
        </div>
        <!-- E === 二维码矩阵 === E -->

    </div>
</footer>
<!-- E === Footer Start === E -->

</body>

</html>