<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>浙江美森细胞科技有限公司</title>
    <link rel="icon" href="../../public/image/favicon.ico">
    <link rel="stylesheet" href="../../public/css/normalize.css">
    <link rel="stylesheet" href="../../public/css/base.css">
    <script src="../../public/lib/jquery.min.js"></script>
    <script src="../../public/js/config.js"></script>
    <script src="../../public/lib/xhLibF.js"></script>
    <script src="../../public/js/base.js"></script>
</head>

<body>

    <!-- S === Header Start === S -->
    <header>

        <!-- S === 页面顶部 === S -->
        <div class="page_top">
            <div class="gn_box">
                <div class="fl">
                    <div class="logo fl">
                        <a href="/" id="aLogoTop"><img src="../../public/image/logo/Miesen_Ctcc.png"></a>
                    </div>
                    <div class="slogan fl">
                        <p>全国免费热线:<span>0571-86027729</span></p>
                        <p>细胞标准制品供应中心</p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="fr">
                    <div class="cart fl">
                        <a href="#"></a>
                        <!-- <a href="#" target="_blank"></a> -->
                    </div>
                    <div class="search fr">
                        <form action="#" method="get">
                            <input type="text" name="keyword" class="txt_search" placeholder="请输入关键字">
                            <input type="submit" class="submit_search">
                        </form>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- E === 页面顶部 === E -->

        <!-- S === 顶部导航栏 === S -->
        <div class="navigation_top">
            <div class="gn_box menu">
                <ul class="fl page_menu" id="pageMenu">
                    <li><a href="/index">首页</a></li>
                    <li><a href="/product/libary">产品中心</a> </li>
                    <li><a href="/service/appraisal">细胞服务</a>
                        <div class="child_menu">
                            <ul>
                                <li><a href="/service/preservation">细胞保藏</a></li>
                                <li><a href="/service/customized">细胞定制</a></li>
                                <li><a href="/service/appraisal">细胞鉴定</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="/support/reference">技术支持</a>
                        <div class="child_menu">
                            <ul>
                                <li><a href="/support/reference">技术资料</a></li>
                                <li><a href="/support/question">常见问题</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="/about/introduce">关于我们</a>
                        <div class="child_menu">
                            <ul>
                                <li><a href="/about/introduce">公司简介</a></li>
                                <li><a href="/about/job">人才招聘</a></li>
                                <li><a href="/about/contact">联系我们</a></li>
                                <li><a href="/about/news">新闻动态</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="/sale/activity">促销活动</a></li>
                </ul>
                <ul class="fr user_menu">
                    <li><a id="aLogin"><img src="../../public/image/btn/user_login.png"><span>登录</span></a></li>
                    <li><a id="aRegiste"><img src="../../public/image/btn/user_registe.png"><span>注册</span></a></li>
                    <li><a href="/user/liuyan"><img src="../../public/image/btn/user_msg.png"><span>在线留言</span></a></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <!-- E === 顶部导航栏 === E -->

    </header>
    <!-- E === Header Start === E -->