<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../..//public/image/favicon.ico">
    <link rel="stylesheet" href="../../public/css/normalize.css">
    <link rel="stylesheet" href="../../public/css/base.css">
    <script src="../../public/lib/jquery.min.js"></script>
    <script src="../../public/js/config.js"></script>
    <script src="../../public/lib/xhLibF.js"></script>
    <script src="../../public/js/base.js"></script>
</head>

<body>

    <header>
        <div class="page_top">
            <div class="gn_box">
                <div class="fl">
                    <div class="logo fl">
                        <a href="/" id="aLogoTop"><img src="../../public/image/logo/ctcc-logo-dark.svg"></a>
                    </div>
                    <div class="slogan fl">
                        <p>全国免费热线:<span>此处填写电话号码</span></p>
                        <p>此处填写slogan</p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="fr">
                    <div class="cart fl">
                        <a href="#" target="_blank"></a>
                    </div>
                    <div class="search fr">
                        <form action="" method="get">
                            <input type="text" name="keyword" class="txt_search" placeholder="请输入关键字">
                            <input type="submit" class="submit_search">
                        </form>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="navigation_top">


        </div>
    </header>