<!-- S === 左侧面板 === S -->
<div class="sideboard_left">
    <h2>技术支持<span>Techical Support</span><em></em></h2>
    <div class="nav">

    </div>
    <div class="caontact">
        <h4>联系我们 Contact Us</h4>
        <ul>
            <li>
                <div>
                    <strong><img src="../../public/image/icon/phone.jpg"></strong>
                    <span>
                        <a href="#">此处填写电话号码</a>
                        <em>24小时服务热线</em>
                    </span>
                    <div class="clear"></div>
                </div>
            </li>
            <li>
                <div>
                    <strong><img src="../../public/image/icon/mail.jpg"></strong>
                    <span>
                        <a href="#">此处填写邮箱地址</a>
                        <em>销售邮箱</em>
                    </span>
                    <div class="clear"></div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- E === 左侧面板 === E -->