<link rel="stylesheet" href="../../public/css/user.css">


<!-- S === 用户界面遮罩 === S -->
<div id="maskUser" class="mask_user">
    <div class="user_box">

        <!-- S === 用户盒子切换标签 === S -->
        <ul class="user_tab">
            <li class="to_login">账号登录</li>
            <li class="to_registe">邮箱注册</li>
        </ul>
        <!-- E === 用户盒子切换标签 === E -->

        <!-- S === 用户登录 === S -->
        <div id="divLogin" class="user_login">
            <form id="formUserLogin" method="post">
                <!-- 用户邮箱 -->
                <div class="text_user">
                    <label class="lbl_email"></label>
                    <input type="text" id="txtEmailLogin" class="txt_email" autofocus="autofocus" value=""
                        placeholder="邮箱" name="email" autocomplete="off">
                </div>

                <!-- 用户密码 -->
                <div class="text_user">
                    <label class="lbl_password"></label>
                    <input type="password" id="txtPasswordLogin" class="txt_password" autofocus="autofocus" value=""
                        placeholder="密码" name="password" autocomplete="off">
                </div>

                <!-- 验证码 -->
                <div class="checkcode">
                    <div class="checkcode_num">
                        <input type="text" id="txtCheckcodeLogin" class="txt_checkcode" autofocus="autofocus" value=""
                            placeholder="验证码" maxlength="4" name="checkcode" autocomplete="off">
                    </div>
                    <div class="checkcode_img">
                        <img id="imgCheckcode" src="https://www.procell.com.cn/index.php?m=Home&c=Member&a=verify">
                    </div>
                </div>

                <!-- 忘记密码 -->
                <div class="forgetpwd"><a>忘记密码？</a></div>

                <!-- 登录账号 -->
                <div class="btn_login"><a id="btnUserLogin" class="a_login" href="javascript:void(0);"
                        name="sbtbutton">登 录</a></div>
            </form>
        </div>
        <!-- E === 用户登录 === E -->

        <!-- S === 用户注册 === S -->
        <div id="divRegiste" class="user_registe">
            <form id="formUserRegiste" method="post" class="clearfix">
                <div class="line">
                    <label class="lbl_email">
                        <em>*</em>
                        <span class="dt">个人邮箱：</span>
                    </label>
                    <div class="line2">
                        <input type="text" id="txtEmailRegiste" class="txt_email" placeholder="请输入邮箱" name="email"
                            required="">
                    </div>
                </div>
                <div class="line">
                    <label class="lbl_password">
                        <em>*</em>
                        <span class="dt">设置密码：</span>
                    </label>
                    <div class="line2">
                        <input type="password" id="txtPasswordRegiste" class="txt_password"
                            placeholder="6-16位大小写英文字母、数字或符号的组合" name="password" autocomplete="off" maxlength="16"
                            required="">
                    </div>
                </div>
                <div class="line">
                    <label class="lbl_password2">
                        <em>*</em>
                        <span class="dt">确认密码：</span>
                    </label>
                    <div class="line2">
                        <input type="password" id="txtPassword2Registe" class="txt_password" placeholder="请再次输入密码"
                            name="password2" autocomplete="off" maxlength="16" required="">
                    </div>
                </div>
                <div class="line liney clearfix">
                    <a id="btnUserRegiste" class="a_registe" href="javascript:void(0);" name="sbtbutton">同意协议并注册</a>
                </div>
            </form>
        </div>
        <!-- E === 用户注册 === E -->

        <!-- S === 关闭按钮 === S -->
        <div class="click_off">×</div>
        <!-- E === 关闭按钮 === E -->

    </div>
</div>
<!-- E === 用户界面遮罩 === E -->


<script src="../../public/js/user.js"></script>