/*  */


/*  */


/*  */


/* Common Style */

header,
footer {
    width: 100%;
}

body {
    overflow: auto;
}

content,
.content {
    min-height: 800px;
    margin-top: 90px;
}

content a {
    text-decoration: none;
    color: #666;
}


/*  */


/*  */


/*  */


/* Header Style */

header {
    position: fixed;
    top: 0;
    z-index: 21;
    background-color: #fff;
}


/*  */


/* 页面最顶部 */

header .page_top {
    min-height: 50px;
    margin-top: 5px;
}

.page_top .logo {
    float: left;
}

.page_top .logo img {
    width: 130px;
    height: 45px;
}

.page_top .slogan {
    float: left;
    border: 1px dashed rgba(82, 134, 202, 1);
    border-radius: 5px;
    margin-left: 25px;
}

.page_top .slogan p {
    line-height: 15px;
    font-size: 13px;
    padding: 3px 9px;
    font-family: 'MicrosoftYaHei', '黑体', 'Courier New', Courier, monospace;
    font-weight: 400;
    color: rgba(82, 134, 202, 1);
}

.page_top .slogan p>span {
    text-decoration: underline;
    font-weight: bolder;
}

.page_top .cart {
    float: right;
    margin-top: 5px;
}

.page_top .cart a {
    position: relative;
    display: block;
    margin-left: 30px;
    width: 70px;
}

.page_top .cart a::before {
    position: absolute;
    content: "";
    top: 2px;
    width: 32px;
    height: 32px;
    background: url('../image/btn/cart.png') no-repeat;
}

.page_top .search {
    float: right;
    width: 235px;
    height: 30px;
    border: 1px dashed rgba(82, 134, 202, 1);
    border-radius: 14px;
    padding: 2px;
    margin-top: 5px;
}

.page_top .search form {
    position: relative;
    margin-top: 3px;
}

.page_top .search input {
    border: none;
    outline: none;
    padding: 0;
}

.page_top .search form .txt_search {
    color: rgba(119, 119, 119);
    width: 195px;
    height: 24px;
    border-radius: 14px;
    padding-left: 10px;
    font-family: '微软雅黑';
}

.page_top .search form .submit_search {
    background: url('../image/btn/search.png') no-repeat;
    width: 24px;
    line-height: 24px;
    cursor: pointer;
    color: #fff;
    text-indent: -999px;
}


/*  */


/* 顶部导航 */

header .navigation_top {
    min-height: 30px;
    background-color: rgba(82, 134, 202, 1);
    box-shadow: 0px 3px 15px 1px rgba(0, 0, 0, 0.4);
}

.navigation_top .menu {
    width: 1200px;
}

.navigation_top .menu li {
    position: relative;
    float: left;
    margin: 0;
}

.navigation_top .menu li a {
    display: block;
    font-weight: 400;
    font-size: 14px;
    color: #fffefe;
    padding: 8px 16px;
}

.navigation_top .menu li a img {
    padding-right: 5px;
}

.navigation_top .menu .page_menu li:hover,
.menu .user_menu li:hover a {
    color: rgba(27, 27, 27, 0.808);
    background-color: rgba(213, 216, 216, 0.3);
    transition: all .5s;
}

.navigation_top .menu .page_menu li:hover {
    background-color: rgba(31, 103, 107, 0.5);
}

.navigation_top .menu .page_menu .child_menu {
    display: none;
    position: absolute;
    z-index: 10;
    top: 33px;
    left: -35px;
    width: auto;
    margin-left: 35px;
    overflow: hidden;
    background-color: #fff;
    -moz-box-shadow: 0 2px 5px #888;
    -webkit-box-shadow: 0 2px 5px #888;
    box-shadow: 0 2px 5px #888;
    text-align: left;
    white-space: nowrap;
}

.navigation_top .menu .page_menu .child_menu ul {
    text-align: center;
}

.navigation_top .menu .page_menu .child_menu ul li {
    position: relative;
    width: 100%;
    margin: 0px;
}

.navigation_top .menu .page_menu .child_menu ul li a {
    display: block;
    color: #333;
    background: none;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    padding: 15px 20px;
    border-bottom: none;
    /* text-align: left; */
}

.navigation_top .menu .page_menu li:hover .child_menu {
    display: block;
}

.navigation_top .user_is_login {
  display: none;
}

.navigation_top .user_is_login span {
  text-decoration: underline;
}

/*  */


/*  */


/*  */


/* Footer Style */

footer {
    width: 100%;
    background-color: rgba(82, 134, 202, 1);
    background-size: auto;
    padding: 25px 0;
    min-width: 1200px;
    background-size: 100% 100%;
    overflow: hidden;
}

footer .company_info {
    margin-top: 11px;
    margin-left: 10px;
    overflow: hidden;
}

.company_info p,
.company_info p a {
    color: #ffffff !important;
    font-size: 12px;
    line-height: 24px;
    text-align: left;
}

.company_info .company_copyright1,
.company_info .company_copyright2 {
    font-weight: bolder;
}

.company_info .links_friendly {
    margin-top: 15px;
}

.company_info .site_beian {
    font-weight: 600;
    text-decoration: underline;
}

.company_info .site_beian img {
    height: 20px;
    width: 20px;
}


/*  */


/* 二维码矩阵 */

footer .erweima {
    margin-top: 20px;
}

.erweima .qrcode {
    float: right;
    padding-right: 20px;
}

.erweima .qrcode img {
    width: 120px;
    height: 120px;
    margin-right: 0px;
}

.erweima .qrcode p {
    margin-top: 5px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}


/*  */


/*  */


/*  */


/* 内容页 */

content {
    display: block;
    min-height: 800px;
    margin-top: 90px;
}


/*  */


/*  */


/*  */


/* General Style */

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

.clearfix {
    display: block;
}

.clearfix::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.gn_box {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}