/*  */


/*  */


/*  */


/* 用户界面 */

.mask_user {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.3);
}

.mask_user .user_box {
    position: absolute;
    top: 18%;
    left: 38%;
    width: 360px;
    height: 300px;
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.08), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.mask_user .click_off {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1px 8px;
    color: #000;
    font-size: 28px;
    cursor: pointer;
}


/*  */


/*  */


/* 用户盒子切换标签 */

.mask_user .user_box .user_tab {
    width: 100%;
    display: inline-block;
}

.user_box .user_tab li {
    float: left;
    width: 40%;
    margin-bottom: 20px;
    font-size: 16px;
    color: #999;
    cursor: pointer;
}

.user_box .user_tab li:first-child {
    text-align: right;
    padding-right: 15%;
}

.user_box .user_tab li:last-child {
    text-align: left;
}

.user_box .user_tab li.active {
    color: #119786;
}


/*  */


/*  */


/* 用户盒子 通用 */

.user_box label {
    float: left;
    width: 35px;
    height: 32px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid #adadad;
    background: url('../image/icon/user.png') no-repeat;
}

.user_box input {
    float: right;
    width: 245px;
    height: 32px;
    line-height: 32px;
    padding: 0px 10px;
    border: none;
    outline: none;
}

.user_box input::placeholder {
    color: #ababab;
    opacity: 1;
}

.user_box .text_user {
    width: 300px;
    height: 32px;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid #adadad;
}


/*  */


/*  */


/* 登录盒子 */

.mask_user .user_box .user_login {
    display: none;
    margin-top: 10px;
}

.user_login .text_user .lbl_email {
    background-position: 4px 4px;
}

.user_login .text_user .lbl_password {
    background-position: 8px -27px;
}

.user_login .checkcode {
    overflow: hidden;
    width: 302px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.user_login .checkcode .checkcode_num {
    float: left;
    width: 135px;
    height: 32px;
    margin-right: 20px;
    border: 1px solid #adadad;
}

.user_login .checkcode .checkcode_num .txt_checkcode {
    width: 115px;
    height: 32px;
    line-height: 32px;
    padding: 0px 10px;
    border: none;
    outline: none;
}

.user_login .checkcode .checkcode_img {
    float: left;
    width: 110px;
    height: 32px;
}

.user_login .checkcode .checkcode_img img {
    max-width: 100%;
    max-height: 34px;
}

.user_login .checkcode .checkcode_img:hover {
    cursor: pointer;
}

.user_login .forgetpwd {
    float: left;
    padding-right: 10px;
}

.user_login .forgetpwd a {
    display: block;
    padding: 5px 30px;
    font-size: 13px;
    color: #f1000099;
    cursor: pointer;
    text-decoration: underline;
}

.user_login .btn_login {
    float: left;
    display: block;
    width: 100%;
    margin: 20px 0px;
    text-align: center;
}

.user_login .btn_login a {
    background: linear-gradient(to left, #35b78d, #1da9af);
    color: #fff;
    padding: 8px 125px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}


/*  */


/*  */


/* 注册盒子 */

.mask_user .user_box .user_registe {
    display: none;
    margin-top: 20px;
    line-height: 50px;
}

.user_registe form label {
    float: left;
    width: auto;
    height: auto;
    line-height: revert;
    /* padding-right: 20px; */
    font-size: 14px;
    background: none;
    border: none;
    box-shadow: none;
    -webkit-box-sizing: unset;
    -moz-box-sizing: unset;
}

.user_registe form label em {
    /* margin-right: 8px; */
    color: red;
    font-weight: bold;
    font-style: normal;
}

.user_registe form .line2 {
    margin-bottom: 10px;
    text-align: center;
}

.user_registe form .line2 input {
    float: none;
    border: 1px solid #adadad;
    outline: none;
    width: 240px;
    height: 32px;
    line-height: 32px;
    padding: 0px 10px;
    font-size: 12px;
}

.user_registe form .liney {
    margin-top: 15px;
    text-align: center;
}

.user_registe form .liney a {
    padding: 8px 98px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px;
    background: linear-gradient(to left, #35b78d, #1da9af);
}


/*  */


/*  */


/* 用户留言板 */

.user_liuyan {
    padding: 30px 0;
    text-align: center;
}


/*  */


/* 公共部分 */

.user_liuyan .liuyan_box {
    height: auto;
    width: auto;
}

.user_liuyan .liuyan_box .relativeD {
    position: relative;
    padding-left: 10px;
    text-align: center;
}

.liuyan_box .relativeD .name_title {
    display: inline-block;
    margin-top: 20px;
}

.liuyan_box .relativeD span {
    position: relative;
    padding-left: 12px;
}

.liuyan_box .relativeD span em {
    position: absolute;
    top: 2px;
    left: 0;
    color: red;
    font-size: 18px;
    font-style: normal;
}

.liuyan_box .relativeD input {
    height: 35px;
    width: 40%;
    margin-bottom: 12px;
    margin-top: 10px;
    line-height: normal;
    border: 1px solid #D3DDE9;
    padding: 2px 5px;
    -moz-appearance: textfield;
    -webkit-appearance: none !important;
}

.liuyan_box .relativeD textarea {
    height: 100px;
    width: 40%;
    padding: 2px 5px;
    margin-top: 10px;
    line-height: normal;
    border: 1px solid #D3DDE9;
    resize: none;
    color: #333;
}


/*  */


/* 各模块 */

.liuyan_box .liuyan_title {
    width: 100px;
    padding: 5px;
    margin: 10px auto;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    background: #068965;
    cursor: default;
}

.liuyan_box .liuyan_desc {
    padding-left: 15px;
    margin-bottom: 20px;
    font-size: 14px;
}

.liuyan_box .relativeD .verify_code {
    width: 20%;
    margin-top: 20px;
}

.liuyan_box .relativeD .check_cum_img {
    display: inline-block;
    cursor: pointer;
}

.liuyan_box .relativeD .check_cum_img img {
    width: 120px;
    vertical-align: middle;
    margin-left: 20px;
    max-height: 35px;
}

.liuyan_box .relativeD button {
    width: 41%;
    height: 42px;
    background: #05956f;
    color: #fff;
    font-size: 16px;
    line-height: 43px;
    border: 0 none;
    border-bottom: 3px solid #047154;
    margin-left: 45px;
    margin-top: 20px;
    cursor: pointer;
}