{{include "../common/head.html"}}


<link rel="stylesheet" href="../../public/css/about.css">



<div class="content">
    <div class="contact_us">
        <div class="section part1">
            <h1 class="tit">联系我们 </h1>
            <table>
                <tbody>
                    <tr>
                        <td><img src="../../public/image/about/icon1.jpg"></td>
                        <td>
                            <h3>联系电话</h3>
                            <p>全国服务热线：0571-86027729</p>
                            <p>销售电话：0571-86027729</p>
                            <p>技术支持：0571-86027729</p>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="../../public/image/about/icon1.jpg"></td>
                        <td>
                            <h3>电子邮件</h3>
                            <p>supports@ctcc.org</p>
                            <p>supports@ctcc.org</p>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="../../public/image/about/icon1.jpg"></td>
                        <td>
                            <h3>联系电话</h3>
                            <p>全国服务热线：0571-86027729</p>
                            <p>销售电话：0571-86027729</p>
                            <p>技术支持：0571-86027729</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="section part2">
            <h1 class="tit">业务导览</h1>
            <table>
                <caption>请根据您所在的省份和城市找到对应负责人的联系方式，方便我们快速回复您: </caption>
                <tbody>
                    <tr>
                        <td class="hidden_xs"></td>
                        <td><img src="../../public/image/about/icon4.png">华中区</td>
                        <td>山东、湖北、湖南、河南</td>
                        <td><img src="../../public/image/about/icon5.png">张经理</td>
                        <td><img src="../../public/image/about/icon6.png">0571-86027729</td>
                        <td class="hidden_xs"></td>
                    </tr>
                    <tr>
                        <td class="hidden_xs"></td>
                        <td><img src="../../public/image/about/icon4.png">华东区</td>
                        <td>江苏、浙江、安徽、上海 </td>
                        <td><img src="../../public/image/about/icon5.png">刘经理</td>
                        <td><img src="../../public/image/about/icon6.png">0571-86027729</td>
                        <td class="hidden_xs"></td>
                    </tr>
                    <tr>
                        <td class="hidden_xs"></td>
                        <td><img src="../../public/image/about/icon4.png">华南区</td>
                        <td>广东、广西、贵州、云南</td>
                        <td><img src="../../public/image/about/icon5.png">章经理</td>
                        <td><img src="../../public/image/about/icon6.png">0571-86027729</td>
                        <td class="hidden_xs"></td>
                    </tr>
                    <tr>
                        <td class="hidden_xs"></td>
                        <td><img src="../../public/image/about/icon4.png">华北区</td>
                        <td>北京、辽宁、吉林、黑龙江</td>
                        <td><img src="../../public/image/about/icon5.png">石经理</td>
                        <td><img src="../../public/image/about/icon6.png">0571-86027729</td>
                        <td class="hidden_xs"></td>
                    </tr>
                    <tr>
                        <td class="hidden_xs"></td>
                        <td><img src="../../public/image/about/icon4.png">华西区</td>
                        <td>四川、陕西、甘肃、重庆</td>
                        <td><img src="../../public/image/about/icon5.png">阁经理</td>
                        <td><img src="../../public/image/about/icon6.png">0571-86027729</td>
                        <td class="hidden_xs"></td>
                    </tr>
                    <tr>
                        <td class="hidden_xs"></td>
                        <td><img src="../../public/image/about/icon4.png">西南区</td>
                        <td>福建、海南、江西、宁夏、新疆 </td>
                        <td><img src="../../public/image/about/icon5.png">任经理</td>
                        <td><img src="../../public/image/about/icon6.png">0571-86027729</td>
                        <td class="hidden_xs"></td>
                    </tr>
                    <tr>
                        <td class="hidden_xs"></td>
                        <td><img src="../../public/image/about/icon4.png">西北区</td>
                        <td>河北、山西、天津、青海、内蒙古 </td>
                        <td><img src="../../public/image/about/icon5.png">李经理</td>
                        <td><img src="../../public/image/about/icon6.png">0571-86027729</td>
                        <td class="hidden_xs"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="section part3">
            <h1 class="tit">在线留言</h1>
            <a href="/user/liuyan">前往留言</a>
        </div>
    </div>
</div>




{{include "../common/foot.html"}}