{{include "../common/head.html"}}


<link rel="stylesheet" href="../../public/css/about.css">


<div class="content">
    <div class="about_us">

        <!-- 企业简介 -->
        <div class="section part1">
            <h1 class="tit">
                <span>
                    <img src="../../public/image/about/iconp1.jpg">
                </span>企业简介
            </h1>
            <div>
                <div class="pic_con pic_con1">
                    <img src="../../public/image/about/pic1.jpg">
                </div>
                <div class="txt_con txt_con1">
                    <p> CTCC是国内领先的生物样品资源提供者，致力于细胞制品（包括原代细胞及通用细胞株）、细胞培养周边试剂、微生物标准品等产品的开发、生产、储存和销售。</p>
                    <p>自成立起，CTCC始终围绕着解决我国生命科学和生物制药长期缺乏标准品资源库的“痛点”，致力于建设国内最大、种类最全的细胞与微生物标准制品资源库，为大学、科研机构及生物医药研发企业提供高质量、可回溯、品控可靠的生物制品。同时，CTCC还汇集了一批充满热情、紧跟科学前沿的科研人员，以最尖端的科学技术进行新产品开发，以满足用户不断增长的科研需求。</p>
                    <p> 本着“严谨求实、不断创新”的理念，美森细胞(CTCC)的业务范围涉及全国所有省市自治区，为广大科研用户提供专业、高效及优质的产品及服务！ </p>
                </div>
            </div>
        </div>

        <!-- 企业优势 -->
        <div class="section part2">
            <h1 class="tit">
                <span>
                    <img src="../../public/image/about/iconp2.jpg">
                </span> 企业优势
            </h1>
            <div>
                <div class="txt_con txt_con2">
                    <ul>
                        <li>拥有全国最大最全的细胞库，1200余种细胞资源</li>
                        <li>细胞系可提供免费STR鉴定（人/小鼠）及种属鉴定（小鼠/大鼠），原代细胞可提供定制服务</li>
                        <li>定制专属每个细胞专用培养基，细胞培养配套试剂一站式采购 </li>
                        <li>细胞系及培养试剂产品均有现货发货</li>
                        <li>7*24小时技术支持在线，售后无忧</li>
                    </ul>
                </div>
                <div class="pic_con pic_con2">
                    <img src="../../public/image/about/pic12.jpg">
                </div>
            </div>
        </div>

        <!-- 企业文化 -->
        <div class="section part8">
            <h1 class="tit">
                <span>
                    <img src="../../public/image/about/icon8.png">
                </span> 企业文化
            </h1>
            <div>
                <ul class="culture">
                    <li>
                        <h3>最高经营宗旨</h3>
                        <p>成为生命科学及健康领域最值得信赖的品牌 </p>
                    </li>
                    <li>
                        <h3>愿景</h3>
                        <p>聚焦客户关注的挑战与压力，提供生命科学及健康领域有竞争力的产品和解决方案 </p>
                    </li>
                    <li>
                        <h3>使命</h3>
                        <p>追求全体员工物质和精神两方面的幸福，同时为人类生命科学及健康事业的发展做出贡献</p>
                    </li>
                    <li>
                        <h3>价值观</h3>
                        <p> 开放进取，持续奋斗 团队合作，自我批判 至诚守信，成就客户 </p>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 发展历程 -->
        <div class="section part3">
            <h1 class="tit">
                <span>
                    <img src="../../public/image/about/iconp3.jpg">
                </span> 发展历程
            </h1>
            <div>
                <div class="txt_con txt_con3">
                    暂无
                </div>
            </div>
        </div>

        <!-- 企业平台 -->
        <div class="section part4">
            <h1 class="tit">
                <span>
                    <img src="../../public/image/about/icon4.jpg">
                </span> 企业平台
            </h1>
            <div>
                <img src="../../public/image/about/pic3.jpg">
            </div>
        </div>

        <!-- 企业实验室 -->
        <div class="section part5">
            <h1 class="tit">
                <span>
                    <img src="../../public/image/about/icon5.jpg">
                </span> 企业实验室
            </h1>
            <div>
                <img src="../../public/image/about/pic4.jpg">
            </div>
        </div>

        <!-- 企业证书 -->
        <div class="section part6">
            <h1 class="tit">
                <span>
                    <img src="../../public/image/about/icon6.jpg">
                </span> 企业证书
            </h1>
            <div>
                暂无
            </div>
        </div>



    </div>
</div>




{{include "../common/foot.html"}}