{{include "./common/head.html"}}

<link rel="stylesheet" href="../public/css/index.css">




<!-- S === 主页内容 === S -->
<content>

    <!-- S === Banner === S  -->
    <div class="banner">
        <div class="flex-viewport">
            <ul class="slides">
                <li class="active"><a href="#"><img src="../public/image/banner/tu-1.png" alt="美森细胞"
                            draggable="false"></a>
                </li>
                <li><a href="#"><img src="../public/image/banner/tu-2.png" alt="美森细胞" draggable="false"></a>
                </li>
                <li><a href="#"><img src="../public/image/banner/tu-3.png" alt="美森细胞" draggable="false"></a>
                </li>
                <li><a href="#"><img src="../public/image/banner/tu-4.png" alt="美森细胞" draggable="false"></a>
                </li>
            </ul>
        </div>

        <ol class="flex-control-nav flex-control-paging">
            <li class="active"><a>1</a></li>
            <li><a>2</a></li>
            <li><a>3</a></li>
            <li><a>4</a></li>
        </ol>

        <ul class="flex-direction-nav">
            <li id="flexPrev"><a class="flex-prev"></a></li>
            <li id="flexNext"><a class="flex-next"></a></li>
        </ul>
    </div>
    <!-- E === Banner === E  -->


    <h1>主页</h1>
</content>
<!-- E === 主页内容 === E -->






<script src="../public/js/index.js"></script>

{{include "./common/foot.html"}}